[{expm,
  [{app_module, 'Elixir-Expm-Server'},
   {datafile, <<"expm.dat">>}]
 },
 {lager, [
          {handlers, [
                      {lager_console_backend, info}
                     ]},
          {error_logger_redirect, true}
         ]},
 {kernel, [{error_logger, false}]},
 {sasl, [
         {sasl_error_logger, false}
        ]} 
].